:root {
    --accent-blue: #5041dc;
    --accent-red: #ff0000;
    --accent-pink: #f14a5d ;
    --accent-purple: #b05dd8;
}

body {
    font-family:Tahoma, sans-serif;
    font-weight: lighter;
    background-color: white;
    color: #00152e;
    margin: 0;
    padding: 0;
    align-items: center;
    align-content: center;
    display: grid;
    width: 100%;
}

h1 {
    padding: 6vw 0 0 1vw;
    margin: 0 0 0 25vw;
    bottom: 0;
    font-size: 75px;
    width: fit-content;
    border-left: 1px solid var(--accent-purple);
    color: var(--accent-purple);
}


form {
    align-self: center;
    background-color: #ffffff;
    margin: 0;
    display: grid;
    padding-bottom: 100px;

}

.form-container{
    display: grid;
    width: 70vw;
    border-top: 1px solid var(--accent-purple);
    border-left: 1px solid var(--accent-purple);
    padding-bottom: 4vw;
    top: 0;
    margin: 0 0 0 25vw;
}

label {
    display: block;
    margin-top: 8px;
    font-weight: bold;
    color: var(--accent-purple);
    font-style: italic;
}

input {
    width: 100%;
    padding: 8px 8px 0px 8px;
    box-sizing: border-box;
    border: none;
    min-width: 12vw;
    font-family: "Cascadia Code", sans-serif;
    font-size: 18px;
}

input[type="submit"] {
    background-color: var(--accent-purple);
    color: #fff;
    padding: 15px;
    padding-inline: 10px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 22px;
    width: 20vw;
    font-family: "Cascadia Code", sans-serif;
    margin: 60px 10px 20px 10px;
    align-self: end;
    position: relative;
    right: 0;
}

input[type="submit"]:hover {
    background: radial-gradient(circle,
    hsla(314, 48%, 63%, 1) 27%,
    hsla(271, 71%, 68%, 1) 59%,
    hsla(260, 77%, 59%, 1) 84%,
    #5041dc 100%);
}

.two-column-input {
    display: grid;
    grid-template-columns: 40% 47%;
    gap: 6%;
    margin-bottom: 2vw;
    margin-top: 5px;
    border-bottom: 1px solid var(--accent-purple);
    padding: 20px 40px 0 20px;
    min-width: fit-content;
    max-width: 80%;
}

.column {
    justify-self: left;
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-end;
    min-width: fit-content;
}

label {
    align-self: center;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    margin-right: 20px;
    min-width: fit-content;
}

.single-line-input {
    display: inline-flex;
    flex-wrap: unset;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: end;
    border-bottom: 1px solid var(--accent-purple);
    width: 20vw;
    padding: 20px 40px 0 20px;
    min-width: fit-content;
}

#back {
    color: var(--accent-purple);
    font-size: 20px;
    background: white;
    border: none;
    font-family: "Cascadia Code", sans-serif;
    top: 0;
    margin: 20px 0 20px 20px;
    position: absolute;
    text-decoration: underline;
}

#back:hover {
    font-weight: bold;
    background: radial-gradient(circle,
    hsl(314, 94%, 61%) 27%,
    hsla(271, 71%, 68%, 1) 59%,
    hsla(260, 77%, 59%, 1) 84%,
    #5041dc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}