:root {
    --accent-pink: #f14a95;
    --accent-blue: #5041dc;
}

@font-face {
    font-family: 'MotomangucodeBold';
    src: url('fonts/MotomangucodeBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h2 {
    text-align: center;
    background-color: transparent;
    color: black;
    font-family: "Cascadia Code", sans-serif;
    font-size: 38px;
    padding: 0;
    margin: 50px 0 10px 50px;
}

.job-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 150px 20px 150px;
    background-color: #b8c6ff;

}

.job-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.job-card {
    background-color: white;
    margin: 10px;
    width: 30%;
    box-sizing: border-box;
    border: solid 1px #f5dede;

}

.job-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.job-card a {
    color: white;
    background-color:  var(--accent-blue);
    border: none;
    font-family: "Cascadia Code", sans-serif;
    text-decoration: underline;
    font-size: 20px;
    padding: 7px;
}




.cover-container {
    width: 100%;
    height: 230px;
    overflow: hidden;
    object-fit: cover;
}

.info-container{
    margin: 15px;
    margin-bottom: 25px;
    font-family: "Cascadia Code", sans-serif;

}


.heart-icon {
    cursor: pointer;
    display: inline-block;
    right: 0;
    top: 0;
    margin-left: 70%;
    position: relative;
    z-index: 111;
}

.heart {
    font-size: 1.8rem;
    color: #ccc;
}

.heart.filled {
    color: red;
    font-weight: bolder;
}

h3 a {
    color: black !important;
    background-color: transparent !important;
}

h3 a:hover {
    font-weight: bolder;
    color: var(--accent-pink) !important;
}


.job-card a:hover {
    font-weight: bolder;
}

.user-info {

}


.home-slogan {
    display: inline;
}

#main-banner {
    display: flex;

    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 50px 0 50px 0;
}

#home-company-name {
    font-family: "Cascadia Code", sans-serif;
    font-stretch: ultra-condensed;
    font-size: 90px;
    text-align: start;
    margin: 0;
}


#logo {
    align-items: center;
    font-family: "Cascadia Code", sans-serif;
    background: radial-gradient(circle,
    hsl(313, 88%, 80%) 12%,
    hsl(267, 91%, 83%) 21%,
    rgb(186, 180, 249) 29%,
    rgb(255, 255, 255) 50%);
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-inline: 100px;
}

#banner-part {
    width: 70vw;
    background: white;
    font-family: "Cascadia Code", sans-serif;
    font-size: 20px;
    line-height: 1.5;

    display: grid;
    justify-items: center;
    padding-inline: 50px;
    justify-content: center;


    flex: 1;
}

p {
    display: flex;
}
#banner-part p {

    justify-items: center;
    justify-content: center;
    justify-self: center;
    padding: 9vw 50px 5vw 50px;
}

#jobs-forward {
    color: black;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 2vw;
    padding: 10px;

    width: 150px;
    padding-inline: 20px;
    text-decoration: none;
    text-align: center;
    margin: 0 0 20px 50px;
    background: white;
    font-weight: bolder;

}

#jobs-forward:hover {
    cursor: pointer;
    background: radial-gradient(circle,
    hsla(314, 100%, 72%, 0.5) 27%,
    hsla(271, 92%, 80%, 0.5) 59%,
    hsla(260, 94%, 79%, 0.5) 84%,
    #887cfb 100%);
}

#about-us-container {
    font-family: "Cascadia Code", sans-serif;
    margin: 100px 300px 90px 300px;
    line-height: 1.5;
    text-align: center;

}
